@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-outline {
        text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000;
    }

    .text-outline-thin {
        text-shadow:
                1px 1px 0 #000,
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000;
    }

    .text-outline-thick {
        text-shadow:
                3px 3px 0 #000,
                -3px -3px 0 #000,
                3px -3px 0 #000,
                -3px 3px 0 #000;
    }
}

@font-face {
    font-family: 'Minecraft';
    src: url("../fonts/minecraft.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Veles';
    src: url("../fonts/veles.otf");
    font-weight: normal;
    font-style: normal;
}