root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  # bin = "./tmp/main.exe"
  cmd = "go build -o ./tmp/main.exe ./cmd/main.go"
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "testdata", ".git"]
  exclude_regex = ["_test.go"]
  stop_on_error = true
  entrypoint = ["./tmp/main.exe"]

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = true